* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f5f5f5;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

h2 {
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    margin: 10px 0;
}

button {
    width: 30%;
    padding: 10px;
    font-size: 18px;
    border: none;
    background: #656565;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #000000;
}

#hasil-kalkulator {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}
